<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MailMaster AI</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous" />

    <link rel="stylesheet" href="../css/home.css" />
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-oval sticky-top mx-6 my-4">
      <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" href="/">
          <img
            src="/assets/images/MailMasterLogo.png"
            alt="MailMaster navigation bar logo"
            class="d-inline-block align-top" />
        </a>
        <!-- Toggle Button -->
        <button
          class="toggler shadow-none border-0 collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="toggler-icon"></span>
        </button>
        <!-- Collapsable Body -->
        <div class="collapse navbar-collapse navbar-collapse-border" id="navbarNav">
          <div class="navbar-nav justify-content-center align-items-center flex-grow-1">
            <a class="nav-item nav-link" href="/pricing">Pricing</a>
            <a class="nav-item nav-link" href="/#features">Features</a>
            <a class="nav-item nav-link" href="/#download">Download</a>
          </div>
          <div class="d-flex justify-content-center align-items-center gap-3">
            <!-- <a class="nav-item nav-link" href="/login">Log In</a> -->
            <button type="button" class="btn btn-outline-secondary" fdprocessedid="nzh4nj">Log In</button>
            <button type="button" class="btn btn-primary" href="/public/views/login.html">Start For Free</button>
          </div>
        </div>
      </div>
    </nav>

    <!-- Hero Banner -->
    <div class="container text-center my-5 py-sm-0 py-lg-2 py-xl-4">
      <div class="col-sm-12 col-lg-10 col-xl-10 col-xxl-8 mx-auto">
        <!-- Hero Text and Action Buttons -->
        <h1 class="display-4 fw-bold">Think, Don't Write</h1>
        <h1 class="display-4 fw-medium">Let MailMaster Do The Magic</h1>
        <div class="col-12 col-md-10 col-lg-9 col-xl-8 mx-auto">
          <p class="lead mb-4">
            Harness the power of AI to compose and reply to messages instantly, making your inbox management a breeze.
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3" fdprocessedid="qvrbpc">
              Start For Free
            </button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4" fdprocessedid="nzh4nj">Download</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Hero Image -->
    <div class="container-fluid px-6">
      <div class="row">
        <div class="col-12">
          <img
            src="/assets/images/MailMasterHero.png"
            class="mb-4 rounded-3 hero-img"
            alt="Hero Image - MailMaster replying to email"
            loading="lazy" />
        </div>
      </div>
    </div>

    <!-- Benefits Section -->
    <div class="container-fluid px-6 my-5 pb-5">
      <div class="text-center d-grid d-md-flex gap-4 justify-content-center align-items-stretch">
        <!-- First Card -->
        <div class="card bg-transparent border-0 flex-fill" style="width: 25rem">
          <div class="card-body text-center">
            <img
              src="/assets/icons/accuracy.svg"
              class="icon mb-2"
              height="50px"
              width="50px"
              alt="Bullseye for the accuracy and Personalization card"
              loading="lazy" />
            <h5 class="card-title fw-bold">Accuracy & Personalization</h5>
            <p class="card-text">
              Enhance your replies with context-aware AI that adapts to your unique tone and style.
            </p>
          </div>
        </div>

        <!-- Second Card -->
        <div class="card bg-transparent border-0 flex-fill" style="width: 25rem">
          <div class="card-body text-center">
            <img
              src="/assets/icons/time.svg"
              class="icon mb-2"
              height="50px"
              width="50px"
              alt="Hourglass for the time Efficiency card"
              loading="lazy" />
            <h5 class="card-title fw-bold">Time Efficiency</h5>
            <p class="card-text">Save hours every week with AI that understands and composes replies in seconds.</p>
          </div>
        </div>

        <!-- Third Card -->
        <div class="card bg-transparent border-0 flex-fill" style="width: 25rem">
          <div class="card-body text-center">
            <img
              src="/assets/icons/happy.svg"
              class="icon mb-2"
              height="50px"
              width="50px"
              alt="Happy face for the stress reduction card"
              loading="lazy" />
            <h5 class="card-title fw-bold">Stress Reduction</h5>
            <p class="card-text">
              Reduce inbox stress. Let AI handle the mundane, so you can focus on what's important.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- How to Download Section -->
    <div class="container-fluid px-6 my-5" id="download">
      <div class="text-center justify-content-center align-items-center">
        <h1 class="display-6 fw-bold mb-5 border-bottom">Three Simple Steps</h1>
      </div>

      <!-- Step #1 -->
      <div class="d-grid d-lg-flex gap-5 justify-content-center align-items-start">
        <div>
          <div class="card border-0 step-card mx-auto">
            <div class="card-body rounded-3">
              <h5 class="card-title fw-bold">Step #1</h5>
              <p class="card-text">
                Install the MailMaster Chrome Extension with just one click directly to your Chrome browser.
              </p>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <button
              type="button"
              class="btn btn-primary btn-lg mt-5 d-none d-lg-block justify-content-center align-items-center"
              fdprocessedid="qvrbpc">
              Download MailMaster
            </button>
          </div>
        </div>
        <div class="col-12 col-lg-7 text-center">
          <img
            src="/assets/images/Download.png"
            class="img-fluid rounded-4"
            alt="MailMaster Chrome Extension highlighting the download button"
            loading="lazy" />
        </div>
      </div>

      <!-- Step #2 -->
      <div class="my-5 d-grid d-lg-flex gap-5 justify-content-center align-items-start">
        <div class="order-lg-2">
          <div class="card border-0 step-card mx-auto">
            <div class="card-body rounded-3">
              <h5 class="card-title fw-bold">Step #2</h5>
              <p class="card-text">
                Login to your MailMaster account using the continue with google button through the Chrome Extension.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-7 text-center">
          <img
            src="/assets/images/Login.png"
            class="img-fluid rounded-4"
            alt="MailMaster Chrome Extension login screen"
            loading="lazy" />
        </div>
      </div>

      <!-- Step #3 -->
      <div class="d-grid d-lg-flex gap-5 justify-content-center align-items-start">
        <div>
          <div class="card border-0 step-card mx-auto">
            <div class="card-body rounded-3">
              <h5 class="card-title fw-bold">Step #3</h5>
              <p class="card-text">
                Open any email in Gmail, and let MailMaster suggest full replies based on your personal profile and the
                content of the email you are replying to.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-7 text-center">
          <img
            src="/assets/images/Reply.png"
            class="img-fluid rounded-4"
            alt="MailMaster being used to reply to email highlighting the reply button"
            loading="lazy" />
        </div>
      </div>

      <!-- Download Button -->
      <div class="d-flex justify-content-center align-items-center">
        <button
          type="button"
          class="btn btn-primary btn-lg mt-5 justify-content-center align-items-center"
          fdprocessedid="qvrbpc">
          Download MailMaster
        </button>
      </div>
    </div>

    <!-- Features Section -->
    <div class="container-fluid px-6 my-5 pb-5" id="features">
      <div class="text-center justify-content-center align-items-center">
        <h1 class="display-6 fw-bold mb-5 border-bottom">Advanced Features Designed for You</h1>
      </div>

      <!-- Carousel for Small Screens -->
      <div id="featuresCarousel" class="carousel slide d-md-none" data-bs-ride="carousel">
        <div class="carousel-inner">
          <!-- First Card -->
          <div class="carousel-item active">
            <div class="card border-0 mx-auto" style="max-width: 25rem">
              <div class="card-body d-flex flex-column p-4">
                <img
                  src="/assets/icons/draft.svg"
                  class="icon mb-2"
                  height="50px"
                  width="50px"
                  alt="Pen and paper for the AI-Powered Drafting card"
                  loading="lazy" />
                <h5 class="card-title fw-bold">AI-Powered Drafting</h5>
                <p class="card-text">From greetings to sign-offs, compose complete emails effortlessly.</p>
              </div>
            </div>
          </div>
          <!-- Second Card -->
          <div class="carousel-item">
            <div class="card border-0 mx-auto" style="max-width: 25rem">
              <div class="card-body d-flex flex-column p-4">
                <img
                  src="/assets/icons/circuit.svg"
                  class="icon mb-2"
                  height="50px"
                  width="50px"
                  alt="Computer circuit icon for the Smart Reply card"
                  loading="lazy" />
                <h5 class="card-title fw-bold">Smart Reply</h5>
                <p class="card-text">Automatically generate context-sensitive replies that sound just like you.</p>
              </div>
            </div>
          </div>
          <!-- Third Card -->
          <div class="carousel-item">
            <div class="card border-0 mx-auto" style="max-width: 25rem">
              <div class="card-body d-flex flex-column p-4">
                <img
                  src="/assets/icons/globe.svg"
                  class="icon mb-2"
                  height="50px"
                  width="50px"
                  alt="Globe for the Multilingual Magic Card"
                  loading="lazy" />
                <h5 class="card-title fw-bold">Multilingual Magic</h5>
                <p class="card-text">
                  Reply in over 50 languages effortlessly, making every interaction smooth and effective.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- Carousel Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#featuresCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#featuresCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <!-- Carousel Indicators -->
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#featuresCarousel"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#featuresCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#featuresCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
      </div>

      <!-- Features Cards Section -->
      <div class="d-grid d-none d-md-flex gap-4 justify-content-center align-items-stretch">
        <!-- First Card -->
        <div class="card border-0 flex-fill" style="width: 25rem">
          <div class="card-body p-4">
            <img
              src="/assets/icons/draft.svg"
              class="icon mb-2"
              height="50px"
              width="50px"
              alt="Pen and paper for the AI-Powered Drafting card"
              loading="lazy" />
            <h5 class="card-title fw-bold">AI-Powered Drafting</h5>
            <p class="card-text">From greetings to sign-offs, compose complete emails effortlessly.</p>
          </div>
        </div>

        <!-- Second Card -->
        <div class="card border-0 flex-fill" style="width: 25rem">
          <div class="card-body p-4">
            <img
              src="/assets/icons/circuit.svg"
              class="icon mb-2"
              height="50px"
              width="50px"
              alt="Computer circuit icon for the Smart Reply card"
              loading="lazy" />
            <h5 class="card-title fw-bold">Smart Reply</h5>
            <p class="card-text">Automatically generate context-sensitive replies that sound just like you.</p>
          </div>
        </div>

        <!-- Third Card -->
        <div class="card border-0 flex-fill" style="width: 25rem">
          <div class="card-body p-4">
            <img
              src="/assets/icons/globe.svg"
              class="icon mb-2"
              height="50px"
              width="50px"
              alt="Globe for the Multilingual Magic Card"
              loading="lazy" />
            <h5 class="card-title fw-bold">Multilingual Magic</h5>
            <p class="card-text">
              Reply in over 50 languages effortlessly, making every interaction smooth and effective.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer-bg">
      <div class="container footer-bg">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top">
          <p class="col-md-4 mb-0 text-body-secondary">© 2024 MailMaster</p>

          <ul class="nav col-md-5 justify-content-end">
            <li class="nav-item">
              <a href="/#" class="nav-link px-2 text-body-secondary">Home</a>
            </li>
            <li class="nav-item">
              <a href="/pricing" class="nav-link px-2 text-body-secondary">Pricing</a>
            </li>
            <li class="nav-item">
              <a href="/#features" class="nav-link px-2 text-body-secondary">Features</a>
            </li>
            <li class="nav-item">
              <a href="/#download" class="nav-link px-2 text-body-secondary">Download</a>
            </li>
          </ul>
        </footer>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
  </body>
</html>
